<!--
*-------------------------------------------------------------------
* Licensed Materials - Property of HCL Technologies
*
* HCL Commerce
*
* (C) Copyright HCL Technologies Limited 1996, 2020

*-------------------------------------------------------------------
-->
<div class="bx--row">
	<div class="bx--col-sm-4 bx--col-md-7 bx--col-lg-11 ">
		<mat-tab-group animationDuration="0ms" dynamicHeight [selectedIndex]="activeTab" (selectedTabChange)="tabChanged($event)">
			<mat-tab label="{{'SHIPPING_CODES.SELECTED_CATEGORIES' | translate}}">
				<hc-shipping-category-list [mode]="mode"></hc-shipping-category-list>
			</mat-tab>
			<mat-tab label="{{'SHIPPING_CODES.SELECTED_PRODUCTS' | translate}}">
				<hc-shipping-product-list [mode]="mode"></hc-shipping-product-list>
			</mat-tab>
		</mat-tab-group>
		</div>
</div>
<div class="bx--row">
	<div class="bx--col-sm-4 bx--col-md-7 bx--col-lg-11">
		<div>
			<button class="mat-flat-button mat-primary" type="button" (click)="triggerSave()" *ngIf="mode == 'create'">{{'SHIPPING_CODES.FINISH' | translate}}</button>
			<button class="mat-flat-button mat-primary" type="button" (click)="triggerSave()" *ngIf="mode == 'edit'">{{'SHIPPING_CODES.SAVE' | translate}}</button>
		</div>
	</div>
</div>