<!--
*-------------------------------------------------------------------
* Licensed Materials - Property of HCL Technologies
*
* HCL Commerce
*
* (C) Copyright HCL Technologies Limited 1996, 2020

*-------------------------------------------------------------------
-->

<form  [formGroup]="contactForm" autocomplete="off" (ngSubmit)="$event.preventDefault()">
	<div class="bx--row">
		<div class="bx--col-sm-4 bx--col-md-7 bx--col-lg-5">
			<mat-form-field appearance="outline">
				<mat-label>{{'ORGANIZATIONS.FIRST_NAME'| translate}}</mat-label>
				<input #firstNameInput matInput id="administratorFirstName"
						formControlName="administratorFirstName" (input)="validateAdministratorFirstName()"
						[maxlength]="128" required autocomplete="off">
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>{{'ORGANIZATIONS.LAST_NAME'| translate}}</mat-label>
				<input matInput id="administratorLastName"
						formControlName="administratorLastName" (input)="validateAdministratorLastName()"
						[maxlength]="128" required autocomplete="off">
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>{{'ORGANIZATIONS.EMAIL'| translate}}</mat-label>
				<input matInput id="email" formControlName="email1" (input)="validateEmail()" required autocomplete="off">
				<mat-error *ngIf="email1.errors && email1.errors.email">
					{{'ORGANIZATIONS.EMAIL_ERROR' | translate }}
				</mat-error>
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>{{'ORGANIZATIONS.STREET_ADDRESS'| translate}}</mat-label>
				<input matInput id="address1" formControlName="address1" (input)="validateAddress1()" required autocomplete="off">
			</mat-form-field>
			<mat-form-field appearance="outline">
				<input matInput id="address2" formControlName="address2" (input)="validateAddress2()" autocomplete="off">
			</mat-form-field>
			
			<mat-form-field appearance="outline">
				<mat-label>{{'ORGANIZATIONS.CITY'| translate}}</mat-label>
				<input matInput id="city" formControlName="city" (input)="validateCity()" required autocomplete="off">
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>{{'ORGANIZATIONS.COUNTRY'| translate}}</mat-label>
				<input matInput id="country"
						formControlName="country"
						[matAutocomplete]="countryAutoComplete"
						(input)="validateCountry()"
						required autocomplete="off">
				<mat-autocomplete #countryAutoComplete="matAutocomplete" (optionSelected)="selectCountry($event.option.value)">
					<mat-option *ngFor="let country of filteredCountryList" [value]="country">
						{{country.name}}
					</mat-option>
				</mat-autocomplete>
				<mat-error *ngIf="country.errors && country.errors.invalidCountry">
					{{'ORGANIZATIONS.INVALID_COUNTRY' | translate }}
				</mat-error>
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>{{'ORGANIZATIONS.STATE_PROVINCE_REGION'| translate}}<span *ngIf="stateIsOptional" class="hc-type-optional-text"> {{'ORGANIZATIONS.OPTIONAL' | translate}}</span></mat-label>
				<input matInput id="state"
						formControlName="state"
						[matAutocomplete]="stateAutoComplete"
						(input)="validateState()"
						[required]="!stateIsOptional" autocomplete="off">
				<mat-autocomplete #stateAutoComplete="matAutocomplete" (optionSelected)="selectState($event.option.value)">
					<mat-option *ngFor="let state of filteredStateList" [value]="state">
						{{state.name}}
					</mat-option>
				</mat-autocomplete>
				<mat-error *ngIf="state.errors && state.errors.invalidState">
					{{'ORGANIZATIONS.INVALID_STATE' | translate }}
				</mat-error>
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>{{'ORGANIZATIONS.ZIP_POSTAL_CODE'| translate}}</mat-label>
				<input matInput id="zipCode" formControlName="zipCode" (input)="validateZipCode()" autocomplete="off" required>
			</mat-form-field>
		</div>
	</div>
	<div class="bx--row">
		<div class="bx--col-sm-4 bx--col-md-7 bx--col-lg-11">
			<div *ngIf="mode === 'create'">
				<button class="mat-flat-button" type="button" matStepperPrevious>{{'ORGANIZATIONS.BACK' | translate}}</button>
				<button *hcRole="[-1,-20,-21,-27]" class="mat-flat-button mat-primary" (click)="next()" type="button">{{'ORGANIZATIONS.NEXT' | translate}}</button>
				<button *hcNotRole="[-1,-20,-21,-27]" class="mat-flat-button mat-primary" id="submit" (click)="triggerSave()">{{'ORGANIZATIONS.FINISH'| translate}}</button>
			</div>
			<div *ngIf="mode === 'edit'">
				<button class="mat-flat-button mat-primary" (click)="triggerSave()">{{'ORGANIZATIONS.SAVE' | translate}}</button>
			</div>
		</div>
	</div>
</form>
