/*
 *-------------------------------------------------------------------
 * Licensed Materials - Property of HCL Technologies
 *
 * HCL Commerce
 *
 * (C) Copyright HCL Technologies Limited 1996, 2020

 *-------------------------------------------------------------------
 */
:host {
 	background: #F2F4F5;
	.header {
		display: flex;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	}
	.body {
		padding: 10px;
	}
	.footer {
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
