<!--
*-------------------------------------------------------------------
* Licensed Materials - Property of HCL Technologies
*
* HCL Commerce
*
* (C) Copyright HCL Technologies Limited 1996, 2020

*-------------------------------------------------------------------
-->

<form [formGroup]="detailsForm" autocomplete="off">
	<div class="bx--row">
		<div class="bx--col-sm-4 bx--col-md-7 bx--col-lg-11 ">
			<mat-form-field appearance="outline">
				<mat-label>{{'SECURITY_POLICIES.SECURITY_POLICY_NAME'| translate}}</mat-label>
				<input #securityPolicyNameInput matInput id="securityPolicyName" formControlName="securityPolicyName" required [maxlength]="254"
						(input)="validateSecurityPolicyName()"/>
				<mat-error *ngIf="securityPolicyName.errors && securityPolicyName.errors.duplicateName">
					{{'SECURITY_POLICIES.DUPLICATE_NAME_ERROR' | translate }}
				</mat-error>
			</mat-form-field>
		</div>
	</div>
	<div class="bx--row">
		<div class="bx--col-sm-4 bx--col-md-7 bx--col-lg-11">
			<div>
				<button class="mat-flat-button mat-primary" type="button" (click)="next()" *ngIf="mode === 'create'">{{'SECURITY_POLICIES.NEXT' | translate}}</button>
				<button class="mat-flat-button mat-primary" type="button" (click)="triggerSave()" *ngIf="mode === 'edit'">{{'SECURITY_POLICIES.SAVE' | translate}}</button>
			</div>
		</div>
	</div>
</form>
