<!--
*-------------------------------------------------------------------
* Licensed Materials - Property of HCL Technologies
*
* HCL Commerce
*
* (C) Copyright HCL Technologies Limited 1996, 2020

*-------------------------------------------------------------------
-->

<div>
	<h1 class="hc-type-h1">
		{{'TRANSPORTS.TRANSPORTS' | translate}}
	</h1>
	<div class="hc-stepper-section hc-paper">
		<div class="hc-stepper-actions">
			<h2 class="hc-type-h2">
				{{'TRANSPORTS.NEW_TRANSPORT' | translate}}
			</h2>
			<div>
				<button class="mat-flat-button" type="button" (click)="cancel()">{{'TRANSPORTS.CANCEL' | translate}}</button>
				<button class="mat-flat-button mat-primary" type="button" (click)="submit()">{{'TRANSPORTS.FINISH' | translate}}</button>
			</div>
		</div>
		<mat-vertical-stepper [linear]="true" #stepper>
			<ng-template matStepperIcon="edit">
				<mat-icon>check</mat-icon>
			</ng-template>
			<mat-step #detailsStep label="{{'TRANSPORTS.TRANSPORT_DETAILS' | translate}}">
				<hc-transport-details [stepper]="stepper" [step]="detailsStep" mode="create">
				</hc-transport-details>
			</mat-step>
			<mat-step optional #configurationStep label="{{'TRANSPORTS.CONFIGURATION' | translate}} {{'TRANSPORTS.OPTIONAL' | translate}}">
				<hc-transport-configuration *ngIf="stepper.selected === configurationStep" [step]="configurationStep" mode="create" (save)="submit()">
				</hc-transport-configuration>
			</mat-step>
		</mat-vertical-stepper>
	</div>
</div>
