<!--
*-------------------------------------------------------------------
* Licensed Materials - Property of HCL Technologies
*
* HCL Commerce
*
* (C) Copyright HCL Technologies Limited 1996, 2020

*-------------------------------------------------------------------
-->

<div>
	<h1 class="hc-type-h1">
		{{'TAX_JURISDICTIONS.TAX_JURISDICTIONS' | translate}}
	</h1>
	<div class="hc-table-section hc-paper">
		<!-- Search,Filter part(start) -->
		<div class="hc-table-actions">
			<form [formGroup]="listSearchForm" autocomplete="off">
				<mat-form-field appearance="outline" class="icon-suffix">
					<mat-label>{{'TAX_JURISDICTIONS.SEARCH' | translate}}</mat-label>
					<input matInput (input)="searchTaxJurisdictions($event.target.value)"
							placeholder="{{'TAX_JURISDICTIONS.SEARCH_BY_NAME' | translate}}"
							formControlName="searchText" >
					<mat-icon matSuffix>search</mat-icon>
					<span class="filter-clear" *ngIf="currentSearchString != null" (click)="clearSearch()">
						<mat-icon>clear</mat-icon>
						<span class="clear-margin">{{'TAX_JURISDICTIONS.CLEAR' | translate}}</span>
					</span>
				</mat-form-field>
				<mat-form-field appearance="outline" class="store-filter icon-suffix">
					<mat-label>{{'TAX_JURISDICTIONS.SELECTED_STORE'| translate}}</mat-label>
					<input matInput id="store" (input)="searchStores($event.target.value)" placeholder="{{'ACCOUNTS.SELECT_STORE_PLACEHOLDER'| translate}}"
							formControlName="store" [matAutocomplete]="storeAutocomplete" (blur)="resetSelectedStore()">
					<mat-autocomplete #storeAutocomplete="matAutocomplete" (optionSelected)="selectStore($event.option.value)">
						<mat-option *ngFor="let store of storeList" [value]="store">
							{{store.identifier}}
						</mat-option>
					</mat-autocomplete>
					<mat-icon matSuffix>filter_list</mat-icon>
				</mat-form-field>
			</form>
			<div class="hc-table-buttons">
				<mat-slide-toggle color="primary" [checked]="showFilters" (change)="toggleShowFilters($event)">{{'TAX_JURISDICTIONS.SHOW_FILTERS' | translate}}</mat-slide-toggle>
				<button class="mat-flat-button mat-primary" (click)="createTaxJurisdiction()">{{'TAX_JURISDICTIONS.NEW_BUTTON' | translate}}</button>
				<button matTooltip="{{'TAX_JURISDICTIONS.REFRESH' | translate}}" mat-icon-button (click)="refresh()">
					<mat-icon color="primary">refresh</mat-icon>
				</button>
			</div>
		</div>
		<div *ngIf="showFilters">
			<div class="hc-table-filters">
				<form [formGroup]="listFilterForm" autocomplete="off">
					<mat-form-field appearance="outline">
						<mat-label>{{'TAX_JURISDICTIONS.COUNTRY_FILTER'| translate}}</mat-label>
						<input matInput id="country" (input)="searchCountries($event.target.value)" placeholder="{{'TAX_JURISDICTIONS.SELECT_COUNTRY_PLACEHOLDER'| translate}}"
									formControlName="country" [matAutocomplete]="countryAutocomplete" (blur)="resetCountryFilter()">
						<span class="filter-clear" *ngIf="selectedCountry" (click)="clearCountry()">
							<mat-icon>clear</mat-icon>
							<span class="clear-margin">{{'TAX_JURISDICTIONS.CLEAR' | translate}}</span>
						</span>
						<mat-autocomplete #countryAutocomplete="matAutocomplete" (optionSelected)="selectCountry($event.option.value)">
							<mat-option *ngFor="let country of filteredCountryList" [value]="country">
								{{country.name}}
							</mat-option>
							<mat-option *ngIf="!countriesLoading && filteredCountryList.length == 0 && (!selectedCountry || selectedCountry.name !== country.value)" [value]="null">
								{{'TAX_JURISDICTIONS.NO_MATCHING_RECORDS_FOUND' | translate }}
							</mat-option>
						</mat-autocomplete>
						<mat-icon matSuffix>filter_list</mat-icon>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>{{'TAX_JURISDICTIONS.STATE_FILTER'| translate}}</mat-label>
						<input matInput id="state" (input)="searchStates($event.target.value)" placeholder="{{'TAX_JURISDICTIONS.SELECT_STATE_PLACEHOLDER'| translate}}"
									formControlName="state" [matAutocomplete]="stateAutocomplete" (blur)="resetStateFilter()">
						<span class="filter-clear" *ngIf="selectedState" (click)="clearState()">
							<mat-icon>clear</mat-icon>
							<span class="clear-margin">{{'TAX_JURISDICTIONS.CLEAR' | translate}}</span>
						</span>
						<mat-autocomplete #stateAutocomplete="matAutocomplete" (optionSelected)="selectState($event.option.value)">
							<mat-option *ngFor="let state of filteredStateList" [value]="state">
								{{state.name}}
							</mat-option>
							<mat-option *ngIf="stateList.length > 0 && !statesLoading && filteredStateList.length == 0 && (!selectedState || selectedState.name !== state.value)" [value]="null">
								{{'TAX_JURISDICTIONS.NO_MATCHING_RECORDS_FOUND' | translate }}
							</mat-option>
						</mat-autocomplete>
						<mat-icon *ngIf="stateList.length > 0" matSuffix>filter_list</mat-icon>
					</mat-form-field>
				</form>
			</div>
		</div>
		<!-- Search,Filter part(end) -->

		<!-- TABLE PART (START) -->
		<div class="hc-table-wrapper">
			<table mat-table [dataSource]="model" matSort matSortActive="{{activeColumn}}" matSortDirection="{{sortDirection}}">
				<ng-container matColumnDef="code" sticky>
					<th mat-header-cell *matHeaderCellDef mat-sort-header="">{{'TAX_JURISDICTIONS.JURISDICTION' | translate}}</th>
					<td mat-cell *matCellDef="let row">
						<a [routerLink]="['/tax-jurisdictions/edit-tax-jurisdiction', row.id, {storeId: selectedStore.id}]">{{ row.jurisdiction }}</a>
					</td>
				</ng-container>
				<ng-container matColumnDef="country">
					<th mat-header-cell *matHeaderCellDef mat-sort-header="">{{'TAX_JURISDICTIONS.COUNTRY' | translate}}</th>
					<td mat-cell *matCellDef="let row">{{ row.country }}</td>
				</ng-container>
				<ng-container matColumnDef="state">
					<th mat-header-cell *matHeaderCellDef mat-sort-header="">{{'TAX_JURISDICTIONS.STATE' | translate}}</th>
					<td mat-cell *matCellDef="let row">{{ row.state }}</td>
				</ng-container>
				<ng-container matColumnDef="actions" stickyEnd>
					<th mat-header-cell *matHeaderCellDef>{{'TAX_JURISDICTIONS.ACTIONS' | translate}}</th>
					<td mat-cell *matCellDef="let element">
						<button matTooltip="{{'TAX_JURISDICTIONS.DELETE' | translate}}" mat-icon-button aria-label="delete" (click)="deleteTaxJurisdiction(element)">
							<mat-icon color="primary">delete</mat-icon>
						</button>
					</td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
			<!-- TABLE PART (END) -->
		</div>
		<mat-paginator [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
				(page)="handlePage($event)">
		</mat-paginator>
	</div>
</div>