/*
 *-------------------------------------------------------------------
 * Licensed Materials - Property of HCL Technologies
 *
 * HCL Commerce
 *
 * (C) Copyright HCL Technologies Limited 1996, 2020

 *-------------------------------------------------------------------
 */
.mat-column-price {
	text-align: right !important;
	justify-content: flex-end;
}
.mat-column-discount {
	text-align: right !important;
	justify-content: flex-end;
}
.mat-column-total {
	text-align: right !important;
	justify-content: flex-end;
}