.mat-list-base {
    margin-top: spacing(2);

    .mat-list-item {
        height: 24px;
        margin-bottom: spacing(1);

        .mat-list-item-content {
            padding: 0;
        }
    }
}
