<!--
*-------------------------------------------------------------------
* Licensed Materials - Property of HCL Technologies
*
* HCL Commerce
*
* (C) Copyright HCL Technologies Limited 1996, 2020

*-------------------------------------------------------------------
-->

<div>
	<h1 class="hc-type-h1">
		{{'MESSAGES.MESSAGES' | translate}}
	</h1>
	<div class="hc-stepper-section hc-paper">
		<div class="hc-stepper-actions">
			<h2 class="hc-type-h2">
				{{'MESSAGES.RESEND_MESSAGE' | translate}}
			</h2>
			<div>
				<button class="mat-flat-button" (click)="cancel()">{{'MESSAGES.CANCEL' | translate}}</button>
				<button class="mat-flat-button mat-primary" (click)="submit()">{{'MESSAGES.FINISH' | translate}}</button>
			</div>
		</div>
		<mat-vertical-stepper [linear]="true" #stepper>
			<ng-template matStepperIcon="edit">
				<mat-icon>check</mat-icon>
			</ng-template>
			<mat-step #detailsStep label="{{'MESSAGES.MESSAGE_DETAILS' | translate}}">
				<hc-message-details [stepper]="stepper" [step]="detailsStep">
				</hc-message-details>
			</mat-step>
			<mat-step #configurationStep label="{{'MESSAGES.CONFIGURATION' | translate}}">
				<hc-message-configuration *ngIf="stepper.selected === configurationStep" [stepper]="stepper" [step]="configurationStep" (save)="submit()">
				</hc-message-configuration>
			</mat-step>
		</mat-vertical-stepper>
	</div>
</div>
