<!--
*-------------------------------------------------------------------
* Licensed Materials - Property of HCL Technologies
*
* HCL Commerce
*
* (C) Copyright HCL Technologies Limited 1996, 2020

*-------------------------------------------------------------------
-->

<div>
	<h1 class="hc-type-h1">
		{{'MESSAGE_TYPES.MESSAGE_TYPES' | translate}}
	</h1>
	<div class="hc-stepper-section hc-paper">
		<div class="hc-stepper-actions">
			<h2 class="hc-type-h2">
				{{'MESSAGE_TYPES.NEW_MESSAGE_TYPE' | translate}}
			</h2>
			<div>
				<button class="mat-flat-button" type="button" (click)="cancel()">{{'MESSAGE_TYPES.CANCEL' | translate}}</button>
				<button class="mat-flat-button mat-primary" type="button" (click)="submit()">{{'MESSAGE_TYPES.FINISH' | translate}}</button>
			</div>
		</div>
		<mat-vertical-stepper [linear]="true" #stepper>
			<ng-template matStepperIcon="edit">
				<mat-icon>check</mat-icon>
			</ng-template>
			<mat-step #detailsStep label="{{'MESSAGE_TYPES.MESSAGE_TYPE_DETAILS' | translate}}">
				<hc-message-type-details [stepper]="stepper" [step]="detailsStep" mode="create">
				</hc-message-type-details>
			</mat-step>
			<mat-step #configurationStep label="{{'MESSAGE_TYPES.CONFIGURATION' | translate}}">
				<hc-message-type-configuration *ngIf="stepper.selected === configurationStep" [step]="configurationStep" mode="create" (save)="submit()">
				</hc-message-type-configuration>
			</mat-step>
		</mat-vertical-stepper>
	</div>
</div>
