/*
 *-------------------------------------------------------------------
 * Licensed Materials - Property of HCL Technologies
 *
 * HCL Commerce
 *
 * (C) Copyright HCL Technologies Limited 1996, 2020

 *-------------------------------------------------------------------
 */
 
.mat-simple-snackbar {
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	line-height: 20px;
 	opacity: 1;
}
