<!--
*-------------------------------------------------------------------
* Licensed Materials - Property of HCL Technologies
*
* HCL Commerce
*
* (C) Copyright HCL Technologies Limited 1996, 2020

*-------------------------------------------------------------------
-->

<h4 mat-dialog-title>{{'USER_MANAGEMENT.RESET_PASSWORD' | translate}}</h4>

<form [formGroup]="passwordResetForm" autocomplete="off">
	<mat-label>{{'USER_MANAGEMENT.PASSWORD_RESET_CONFIRMATION'| translate: {name: passwordResetName} }}</mat-label>
	<mat-form-field *ngIf="userHasMultipleStoreRegisteredCustomerRoles" appearance="outline">
		<mat-label>{{'USER_MANAGEMENT.STORE'| translate}}</mat-label>
		<input matInput id="store" (input)="searchStores($event.target.value)" placeholder="{{'USER_MANAGEMENT.SELECT_STORE_PLACEHOLDER'| translate}}"
				formControlName="storeDropdown" [matAutocomplete]="storeAutocomplete" required>
		<mat-autocomplete #storeAutocomplete="matAutocomplete" (optionSelected)="selectStore($event.option.value)">
			<mat-option *ngFor="let store of storeList" [value]="store">
				{{store.identifier}}
			</mat-option>
		</mat-autocomplete>
		<mat-error *ngIf="storeDropdown.errors && storeDropdown.errors.invalidStore">
			{{'USER_MANAGEMENT.STORE_ERROR' | translate }}
		</mat-error>
	</mat-form-field>
</form>

<mat-dialog-actions>
	<button type="button" class="mat-flat-button" type="button" (click)="cancel()">{{'USER_MANAGEMENT.CANCEL' | translate}}</button>
	<button *ngIf="storesLoading" type="button" class="mat-flat-button mat-primary" disabled>{{'USER_MANAGEMENT.RESET_PASSWORD' | translate}}</button>
	<button *ngIf="!storesLoading" type="button" class="mat-flat-button mat-primary" (click)="resetPassword()">{{'USER_MANAGEMENT.RESET_PASSWORD' | translate}}</button>
</mat-dialog-actions>