<!--
*-------------------------------------------------------------------
* Licensed Materials - Property of HCL Technologies
*
* HCL Commerce
*
* (C) Copyright HCL Technologies Limited 1996, 2020

*-------------------------------------------------------------------
-->

<form [formGroup]="passwordPolicyForm" autocomplete="off">
	<div class="bx--row">
		<div class="bx--col-sm-4 bx--col-md-7 bx--col-lg-11">
			<div class="form-row">
				<mat-label>{{'SECURITY_POLICIES.DEFINE_CRITERIA'| translate}}</mat-label>
			</div>
			<div class="form-row">
					<mat-slide-toggle color="primary" #matchUserIdInput formControlName="matchUserId" (change)="toggleMatchUserId($event)">
						<mat-label *ngIf="!matchUserId.value">{{'SECURITY_POLICIES.DO_NOT_ALLOW' | translate}}</mat-label>
						<mat-label *ngIf="matchUserId.value">{{'SECURITY_POLICIES.ALLOW_USER_ID_PASSWORD_MATCH'| translate}}</mat-label>
					</mat-slide-toggle>
			</div>			
			<div class="row">
				<mat-form-field appearance="outline">
					<mat-label>{{'SECURITY_POLICIES.MAX_CONSECUTIVE_CHAR_TYPES'| translate}}</mat-label>
					<input matInput id="maximumConsecutiveType" formControlName="maximumConsecutiveType" required [maxlength]="5"
							(input)="validateMaximumConsecutiveType()"/>
					<mat-error *ngIf="maximumConsecutiveType.errors && maximumConsecutiveType.errors.invalidMaximumConsecutiveType">
						{{'SECURITY_POLICIES.INVALID_VALUE_FOR_NUMERIC_FIELD' | translate}}
					</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>{{'SECURITY_POLICIES.MIN_ALPHABETIC_CHARS'| translate}}</mat-label>
					<input matInput id="minimumAlphabetic" formControlName="minimumAlphabetic" required [maxlength]="5"
							(input)="validateMinimumAlphabetic()"/>
					<mat-error *ngIf="minimumAlphabetic.errors && minimumAlphabetic.errors.invalidMinimumAlphabetic">
						{{'SECURITY_POLICIES.INVALID_VALUE_FOR_NUMERIC_FIELD' | translate}}
					</mat-error>
				</mat-form-field>
			</div>
			<div class="row">
				<mat-form-field appearance="outline">
					<mat-label>{{'SECURITY_POLICIES.MAX_INSTANCES_OF_ANY_CHARS'| translate}}</mat-label>
					<input matInput id="maximumInstances" formControlName="maximumInstances" required [maxlength]="5"
							(input)="validateMaximumInstances()"/>
					<mat-error *ngIf="maximumInstances.errors && maximumInstances.errors.invalidMaximumInstances">
						{{'SECURITY_POLICIES.INVALID_VALUE_FOR_NUMERIC_FIELD' | translate}}
					</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>{{'SECURITY_POLICIES.MIN_NUMERIC_CHARS'| translate}}</mat-label>
					<input matInput id="minimumNumeric" formControlName="minimumNumeric" required [maxlength]="5"
							(input)="validatMinimumNumeric()"/>
					<mat-error *ngIf="minimumNumeric.errors && minimumNumeric.errors.invalidMinimumNumeric">
						{{'SECURITY_POLICIES.INVALID_VALUE_FOR_NUMERIC_FIELD' | translate}}
					</mat-error>
				</mat-form-field>
			</div>
			<div class="row">
				<mat-form-field appearance="outline">
					<mat-label>{{'SECURITY_POLICIES.MAX_LIFETIME_OF_PASSWORD_IN_DAYS'| translate}}</mat-label>
					<input matInput id="maximumLifetime" formControlName="maximumLifetime" required [maxlength]="5"
							(input)="validateMaximumLifetime()"/>
					<mat-error *ngIf="maximumLifetime.errors && maximumLifetime.errors.invalidMaximumLifetime">
						{{'SECURITY_POLICIES.INVALID_VALUE_FOR_NUMERIC_FIELD' | translate}}
					</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>{{'SECURITY_POLICIES.MIN_PASSWORD_LENGTH'| translate}}</mat-label>
					<input matInput id="minimumPasswordLength" formControlName="minimumPasswordLength" required [maxlength]="5"
							(input)="validateMinimumPasswordLength()"/>
					<mat-error *ngIf="minimumPasswordLength.errors && minimumPasswordLength.errors.invalidMinimumPasswordLength">
						{{'SECURITY_POLICIES.INVALID_VALUE_FOR_NUMERIC_FIELD' | translate}}
					</mat-error>
				</mat-form-field>
			</div>
			<div class="row">
				<mat-form-field appearance="outline">
					<mat-label>{{'SECURITY_POLICIES.NO_OF_PASSWORDS_KEPT_PASSWORD_HISTORY'| translate}}</mat-label>
					<mat-select id="reusePassword" formControlName="reusePassword" required
							(selectionChange)="validateReusePassword($event.value)">
						<mat-option *ngFor="let item of reusePasswordValues" [value]="item.value">
							{{item.content}}
						</mat-option>
					</mat-select> 
				</mat-form-field>
			</div>
		</div>
	</div>
	<div class="bx--row">
		<div class="bx--col-sm-4 bx--col-md-7 bx--col-lg-11">
			<div>
				<button class="mat-flat-button" matStepperPrevious type="button" *ngIf="mode == 'create'">{{'SECURITY_POLICIES.BACK'| translate}}</button>
				<button class="mat-flat-button mat-primary" type="button" (click)="next()" *ngIf="mode === 'create'">{{'SECURITY_POLICIES.NEXT' | translate}}</button>
				<button class="mat-flat-button mat-primary" type="button" (click)="triggerSave()" *ngIf="mode === 'edit'">{{'SECURITY_POLICIES.SAVE' | translate}}</button>
			</div>
		</div>
	</div>
</form>
