/*
 *-------------------------------------------------------------------
 * Licensed Materials - Property of HCL Technologies
 *
 * HCL Commerce
 *
 * (C) Copyright HCL Technologies Limited 1996, 2020

 *-------------------------------------------------------------------
 */
.row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  .mat-form-field {
    width: 48%;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
.form-row {
  margin-bottom: 20px;
}
