<!--
*-------------------------------------------------------------------
* Licensed Materials - Property of HCL Technologies
*
* HCL Commerce
*
* (C) Copyright HCL Technologies Limited 1996, 2020

*-------------------------------------------------------------------
-->

<form [formGroup]="purchaseOrderForm" autocomplete="off">
	<div class="bx--row">
		<div class="bx--col-sm-4 bx--col-md-7 bx--col-lg-11 ">
			<mat-checkbox #mustSpecifyPurchaseOrderNumberCheck formControlName="mustSpecifyPurchaseOrderNumber" (change)="changeMustSpecifyPurchaseOrderNumber($event)">
				{{'ACCOUNTS.MUST_SPECIFY_PURCHASE_ORDER_NUMBER' | translate}}
			</mat-checkbox>

			<mat-checkbox formControlName="checkPurchaseOrderNumberUniqueness" *ngIf="mustSpecifyPurchaseOrderNumber.value" (change)="changeCheckPurchaseOrderNumberUniqueness($event)">
				{{'ACCOUNTS.CHECK_PURCHASE_ORDER_NUMBER_UNIQUENESS' | translate}}
			</mat-checkbox>

			<hc-account-purchase-order-list mode="{{mode}}"></hc-account-purchase-order-list>

		</div>
	</div>
	<div class="bx--row">
		<div class="bx--col-sm-4 bx--col-md-7 bx--col-lg-11">
			<div class="footer-buttons">
				<button class="mat-flat-button" type="button" matStepperPrevious *ngIf="mode == 'create'">{{'ACCOUNTS.BACK'| translate}}</button>
				<button class="mat-flat-button mat-primary" type="button" matStepperNext *ngIf="mode == 'create'">{{'ACCOUNTS.NEXT' | translate}}</button>
				<button class="mat-flat-button mat-primary" type="button" (click)="triggerSave()" *ngIf="mode == 'edit'">{{'ACCOUNTS.SAVE' | translate}}</button>
			</div>
		</div>
	</div>
</form>