{
  "swagger": "2.0",
  "info": {
    "title": "Catalog Group Admin REST APIs",
    "version": "2.0"
  },
  "host": "hostname.com",
  "basePath": "/rest/admin/v2",
  "schemes": [
    "https"
  ],
  "paths": {
    "/catalog-groups": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique numeric ID for identifying the store.",
            "format": "int32",
            "in": "query",
            "name": "storeId",
            "required": true,
            "type": "integer",
            "x-context-data": "storeId"
          },
          {
            "description": "The unique numeric ID for identifying the catalog.",
            "in": "query",
            "name": "catalogId",
            "required": true,
            "type": "string",
            "x-context-data": "catalogId"
          },
          {
            "description": "The name pattern to search.",
            "in": "query",
            "name": "searchText",
            "required": false,
            "type": "string"
          },
          {
            "description": "The top category indicator used to search for top level catalog groups.",
            "in": "query",
            "name": "topCatalogGroup",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "The unique numeric ID for identifying the parent catalog group.",
            "in": "query",
            "name": "parentCatalogGroupId",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "The unique numeric ID for identifying the catalog group.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "id",
            "required": false,
            "type": "array"
          },
          {
            "description": "The integer(s) for identifying the language of the catalog group description. For a list of the integers that map to the supported default languages, refer to the Knowledge Center. Multiple identifiers should be specified as a comma-separated list.",
            "in": "query",
            "name": "dataLanguageIds",
            "required": true,
            "type": "string"
          },
          {
            "description": "The position within the resulting dataset where the query begins returning item records. If the offset is \"5\", the records that returned begin with the sixth record that matches the query parameters. If the offset is \"0\", the records that are returned begin with the first record that matches the query parameters.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer",
            "x-entity-path": "dataArea/get/recordSetStartNumber"
          },
          {
            "description": "The maximum number of records to return.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer",
            "x-entity-path": "dataArea/get/maxItems"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful.",
            "schema": {
              "$ref": "#/definitions/CatalogGroupCollection"
            },
            "x-entity-path": "dataArea/catalogGroup"
          }
        },
        "tags": [
          "Catalog Groups"
        ],
        "operationId": "getCatalogGroups",
        "summary": "Get catalog groups by store and usage.",
        "x-expression-builder-class": "com.ibm.commerce.rest.admin.v2.catalog.CatalogGroupExpressionBuilder",
        "x-expression-builder-method": "formatExpression",
        "x-facade-client-class": "com.ibm.commerce.catalog.facade.client.CatalogGroupFacadeClient",
        "x-facade-client-method": "getCatalogGroup",
        "x-parameters": {
          "accessProfile": "IBM_Admin_Details"
        },
        "x-request-bod-class": "com.ibm.commerce.catalog.facade.datatypes.GetCatalogGroupType"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique numeric ID for identifying the store.",
            "format": "int32",
            "in": "query",
            "name": "storeId",
            "required": true,
            "type": "integer",
            "x-context-data": "storeId"
          },
          {
            "description": "The unique numeric ID for identifying the catalog .",
            "in": "query",
            "name": "catalogId",
            "required": true,
            "type": "string",
            "x-context-data": "catalogId"
          },
          {
            "description": "The request body.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CatalogGroup"
            },
            "x-entity-path": "dataArea/catalogGroup[1]"
          }
        ],
        "responses": {
          "201": {
            "description": "The operation is successful.",
            "headers": {
              "Location": {
                "description": "The URI of the catalog group.",
                "type": "string"
              }
            },
            "x-entity-path": "dataArea/catalogGroup[1]/catalogGroupIdentifier/uniqueID"
          }
        },
        "tags": [
          "Catalog Groups"
        ],
        "operationId": "createCatalogGroups",
        "summary": "Create a catalog group.",
        "x-action-code": "Create",
        "x-expression-template": "/CatalogGroup[1]",
        "x-facade-client-class": "com.ibm.commerce.catalog.facade.client.CatalogGroupFacadeClient",
        "x-facade-client-method": "processCatalogGroup",
        "x-request-bod-class": "com.ibm.commerce.catalog.facade.datatypes.ProcessCatalogGroupType",
        "x-request-verb": "process"
      }
    },
    "/catalog-groups/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "The unique numeric ID for identifying the catalog group.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-entity-path": "dataArea/catalogGroup[1]/catalogGroupIdentifier/uniqueID"
          },
          {
            "description": "The unique numeric ID for identifying the store.",
            "format": "int32",
            "in": "query",
            "name": "storeId",
            "required": true,
            "type": "integer",
            "x-context-data": "storeId",
            "x-entity-path": "dataArea/catalogGroup[1]/catalogGroupIdentifier/externalIdentifier/storeIdentifier/uniqueID"
          }
        ],
        "responses": {
          "204": {
            "description": "The operation is successful."
          }
        },
        "tags": [
          "Catalog Groups"
        ],
        "operationId": "deleteCatalogGroup",
        "summary": "Delete a catalog group based on the ID of the catalog group.",
        "x-action-code": "Delete",
        "x-expression-template": "/CatalogGroup[1]",
        "x-facade-client-class": "com.ibm.commerce.catalog.facade.client.CatalogGroupFacadeClient",
        "x-facade-client-method": "processCatalogGroup",
        "x-request-bod-class": "com.ibm.commerce.catalog.facade.datatypes.ProcessCatalogGroupType",
        "x-request-verb": "process"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique numeric ID for identifying the catalog group.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The unique numeric ID for identifying the store.",
            "format": "int32",
            "in": "query",
            "name": "storeId",
            "required": true,
            "type": "integer",
            "x-context-data": "storeId"
          },
          {
            "description": "The data language IDs.",
            "in": "query",
            "name": "dataLanguageIds",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful.",
            "schema": {
              "$ref": "#/definitions/CatalogGroup"
            },
            "x-entity-path": "dataArea/catalogGroup[1]"
          }
        },
        "tags": [
          "Catalog Groups"
        ],
        "operationId": "getCatalogGroupById",
        "summary": "Get a catalog group based on the ID of the catalog group.",
        "x-expression-template": "{_wcf.ap='{accessProfile}';_wcf.dataLanguageIds='{dataLanguageIds}'}/CatalogGroup[CatalogGroupIdentifier[(UniqueID='{id}')]]",
        "x-facade-client-class": "com.ibm.commerce.catalog.facade.client.CatalogGroupFacadeClient",
        "x-facade-client-method": "getCatalogGroup",
        "x-parameters": {
          "accessProfile": "IBM_Admin_Details"
        },
        "x-request-bod-class": "com.ibm.commerce.catalog.facade.datatypes.GetCatalogGroupType"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique numeric ID for identifying the catalog group.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-entity-path": "dataArea/catalogGroup[1]/catalogGroupIdentifier/uniqueID"
          },
          {
            "description": "The unique numeric ID for identifying the catalog .",
            "in": "query",
            "name": "catalogId",
            "required": true,
            "type": "string",
            "x-context-data": "catalogId"
          },
          {
            "description": "The unique numeric ID for identifying the store.",
            "format": "int32",
            "in": "query",
            "name": "storeId",
            "required": true,
            "type": "integer",
            "x-context-data": "storeId",
            "x-entity-path": "dataArea/catalogGroup[1]/catalogGroupIdentifier/externalIdentifier/storeIdentifier/uniqueID"
          },
          {
            "description": "The request body.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CatalogGroup"
            },
            "x-entity-path": "dataArea/catalogGroup[1]"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful."
          }
        },
        "tags": [
          "Catalog Groups"
        ],
        "operationId": "updateCatalogGroup",
        "summary": "Update a catalog group based on the ID of the catalog group.",
        "x-action-code": "Change",
        "x-expression-template": "/CatalogGroup[1]/CatalogGroupIdentifier",
        "x-facade-client-class": "com.ibm.commerce.catalog.facade.client.CatalogGroupFacadeClient",
        "x-facade-client-method": "changeCatalogGroup",
        "x-request-bod-class": "com.ibm.commerce.catalog.facade.datatypes.ChangeCatalogGroupType",
        "x-request-verb": "change"
      }
    }
  },
  "definitions": {
    "CatalogGroup": {
      "description": "A catalog group.",
      "properties": {
        "displaySequence": {
          "description": "The display sequence of the catalog group.",
          "format": "double",
          "type": "number",
          "x-entity-path": "displaySequence"
        },
        "id": {
          "description": "The internal unique reference number of the catalog group. In Delete, either this field or the PartNumber is required.",
          "type": "string",
          "x-entity-path": "catalogGroupIdentifier/uniqueID"
        },
        "longDescription": {
          "description": "The catalog group long description.",
          "type": "string",
          "x-entity-path": "description[1]/longDescription"
        },
        "name": {
          "description": "The catalog group name.",
          "type": "string",
          "x-entity-path": "description[1]/name"
        },
        "ownerId": {
          "description": "The numeric identifier of the organization that owns the catalog group.",
          "type": "string",
          "x-entity-path": "catalogGroupIdentifier/externalIdentifier/ownerID"
        },
        "owningStoreDirectory": {
          "description": "The owningStoreDirectory of the catalog group.",
          "type": "string",
          "x-entity-path": "owningStoreDirectory"
        },
        "parentCatalogGroupId": {
          "description": "The unique numeric ID for identifying the parent catalog group.",
          "type": "string",
          "x-entity-path": "parentCatalogGroupIdentifier/uniqueID"
        },
        "shortDescription": {
          "description": "The catalog group short description.",
          "type": "string",
          "x-entity-path": "description[1]/shortDescription"
        },
        "storeId": {
          "description": "The unique numeric ID for identifying the store.",
          "format": "int32",
          "type": "integer",
          "x-entity-path": "catalogGroupIdentifier/externalIdentifier/storeIdentifier/uniqueID"
        },
        "topCatalogGroup": {
          "description": "The top category indicator",
          "type": "boolean"
        }
      },
      "type": "object",
      "x-entity-class": "com.ibm.commerce.catalog.facade.datatypes.CatalogGroupType"
    },
    "CatalogGroupCollection": {
      "description": "A collection of catalog groups.",
      "properties": {
        "count": {
          "description": "The number of catalog groups found.",
          "format": "int64",
          "type": "integer"
        },
        "items": {
          "items": {
            "$ref": "#/definitions/CatalogGroup"
          },
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "x-components": {}
}
