<!--
*-------------------------------------------------------------------
* Licensed Materials - Property of HCL Technologies
*
* HCL Commerce
*
* (C) Copyright HCL Technologies Limited 1996, 2020

*-------------------------------------------------------------------
-->

<div class="hc-section-container" id="userDetails">
	<p class="hc-section-header">{{'APPROVALS.USER_DETAILS' | translate}}</p>
	<div class="bx--row">
		<div class="bx--col-sm-4 bx--col-md-4 bx--col-lg-4 hc-column">
			<div class="hc-column-header">{{'APPROVALS.NAME' | translate}}</div>
			<div class="hc-hc-column-data">{{userName}}</div>
		</div>
		<div class="bx--col-sm-4 bx--col-md-4 bx--col-lg-4 hc-column">
			<div class="hc-column-header">{{'APPROVALS.LOGIN_ID' | translate}}</div>
			<div class="hc-hc-column-data">{{userLogonId}}</div>
		</div>
		<div class="bx--col-sm-4 bx--col-md-4 bx--col-lg-4 hc-column">
			<div class="hc-column-header">{{'APPROVALS.EMAIL' | translate}}</div>
			<div class="hc-hc-column-data">{{userEmail}}</div>
		</div>
		<div class="bx--col-sm-4 bx--col-md-4 bx--col-lg-4 hc-column">
			<div class="hc-column-header">{{'APPROVALS.ORGANIZATION' | translate}}</div>
			<div class="hc-hc-column-data">{{userOrganization}}</div>
		</div>
		<div class="bx--col-sm-4 bx--col-md-4 bx--col-lg-4 hc-column">
			<div class="hc-column-header">{{'APPROVALS.ROLES' | translate}}</div>
			<div class="hc-hc-column-data" *ngFor="let role of userRoles">{{role}}</div>
		</div>
	</div>
</div>