/*
 *-------------------------------------------------------------------
 * Licensed Materials - Property of HCL Technologies
 *
 * HCL Commerce
 *
 * (C) Copyright HCL Technologies Limited 1996, 2020

 *-------------------------------------------------------------------
 */
 
.hc-table-filters .mat-form-field-appearance-outline {
	width: 400px;
}
.mat-column-organizationName  {
	flex: 0 0 33% !important;
	width: 33% !important;
}
.mat-column-parentOrganization  {
	flex: 0 0 33% !important;
	width: 33% !important;
}
.mat-column-type  {
	flex: 0 0 34% !important;
	width: 34% !important;
}
