/*
 *-------------------------------------------------------------------
 * Licensed Materials - Property of HCL Technologies
 *
 * HCL Commerce
 *
 * (C) Copyright HCL Technologies Limited 1996, 2020

 *-------------------------------------------------------------------
 */
.hc-table-section {
	max-width: 100%;
	margin-bottom: 0;
	.hc-table-actions {
		height: 90px;
		padding: 20px 16px;
		.search-action {
			display: flex;
			align-items: center; 
			button {
				margin: 0;
			}
		}
	}
}
:host ::ng-deep .mat-paginator-page-size-select {
	width: 56px;
}
.mat-column-select {
	min-width: 40px !important;
}
