<!--
*-------------------------------------------------------------------
* Licensed Materials - Property of HCL Technologies
*
* HCL Commerce
*
* (C) Copyright HCL Technologies Limited 1996, 2020

*-------------------------------------------------------------------
-->

<form [formGroup]="detailsForm" autocomplete="off">
	<div class="bx--row">
		<div class="bx--col-sm-4 bx--col-md-7 bx--col-lg-11 ">
			<mat-form-field appearance="outline">
				<mat-label>{{'TAX_CATEGORIES.TYPE'| translate}}</mat-label>
				<mat-select id="taxTypeSelect" #taxTypeSelect
						placeholder="{{'TAX_CATEGORIES.SELECT_TYPE_PLACEHOLDER'| translate}}"
						formControlName="taxType"
						(selectionChange)="selectTaxType($event.value)"
						required>
					<mat-option *ngFor="let taxType of taxTypes" [value]="taxType">
						{{taxType.textKey | translate}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>{{'TAX_CATEGORIES.NAME'| translate}}</mat-label>
				<input matInput id="name" #nameInput formControlName="name" (input)="validateName()"
						required [maxlength]="15">
				<mat-error *ngIf="name.errors && name.errors.duplicateName">
					{{'TAX_CATEGORIES.DUPLICATE_NAME_ERROR' | translate }}
				</mat-error>
			</mat-form-field>
			<div *ngIf="taxType.value && taxType.value.value === -3">
				<mat-checkbox formControlName="includeInDisplayPrice" (change)="validateIncludeInDisplayPrice($event)">
					{{'TAX_CATEGORIES.INCLUDE_IN_DISPLAY_PRICE'| translate}}
				</mat-checkbox>
			</div>
		</div>
	</div>
	<div class="bx--row">
		<div class="bx--col-sm-4 bx--col-md-7 bx--col-lg-11">
			<div>
				<button class="mat-flat-button mat-primary" type="button" (click)="next()" *ngIf="mode === 'create'">{{'TAX_CATEGORIES.NEXT' | translate}}</button>
				<button class="mat-flat-button mat-primary" type="button" (click)="triggerSave()" *ngIf="mode === 'edit'">{{'TAX_CATEGORIES.SAVE' | translate}}</button>
			</div>
		</div>
	</div>
</form>
