.hc-table-section {
	position: relative;
	margin-bottom: spacing(5);
	
	.hc-table-wrapper {
		overflow-y: hidden;
		overflow-x: auto;
		min-height: 200px;
	}
	
	.mat-table {
		border-top: 3px solid map-get($hc-color-grey, dark20);
		width: 100%;

		td.mat-cell, 
		td.mat-footer-cell, 
		th.mat-header-cell {
			padding: spacing(1);
			vertical-align: middle;
			text-align: left;
			word-wrap: break-word;
			white-space: unset;
			overflow-wrap: break-word;
			word-wrap: break-word;
			-ms-hyphens: auto;
			-moz-hyphens: auto;
			-webkit-hyphens: auto;
			hyphens: auto;
		
			&:first-of-type {
				padding-left: spacing(2);
				
				@include breakpoint-down(md) {
					left: 0px;
				}
			}
			
			&.mat-column-actions {
				padding-right: spacing(2);
				min-width: 80px;
				text-align: right;
				white-space: nowrap;
				
				@include breakpoint-down(md) {
					right: 0px;
				}
			}

			&:first-of-type,
			&:last-of-type {
				@include breakpoint-down(md) {
					border-bottom: 0;
					position: sticky;
					z-index: 1;
					background: map-get($hc-color-grey, light20);
				}
			}
			
			&:not(.mat-column-actions) {
				min-width: 150px;
				max-width: 400px;
			}

			&.mat-column-description {
				min-width: 320px;
			}
		}

		thead {
			th.mat-header-cell,
			.mat-sort-header-button {
				@include hc-type-label();
				text-align: left;
			}
		}

		tbody {
			@include hc-type-text();
			line-height: 18px;
		}

		.mat-column-actions {
			svg {
				fill: map-get($hc-color-blue, 100);
			}
		}
	}

	
	.mat-form-field:not(.mat-paginator-page-size-select) {
		width: 400px;
		display: block;
		margin: 0 spacing(2) 0 0;

		@include breakpoint-down(md) {
			max-width: 320px;
		}

		@include breakpoint-down(sm) {
			width: 400px;
			max-width: 100%;
			margin: 0 0 spacing(2);
		}
	}

	.hc-table-actions {
		padding: spacing(2);
		text-align: right;
		line-height: 60px;
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;

		@include breakpoint-down(sm) {
			justify-content: space-between;
		}
		
		form {
			display: flex;
			flex-direction: row;
			justify-content: left;
			align-items: center;
			max-width: 100%;
			
			@include breakpoint-down(sm) {
				width: 100%;
				flex-direction: column;
				align-items: start;
			}
		}

		mat-slide-toggle,
		button {
			margin-right: spacing(2);

			&.mat-icon-button {
				margin-right: spacing(1);
			}

			&:last-child {
				margin-right: 0;
			}
		}

		.hc-table-buttons {
			height: spacing(7);
			display: flex;
			align-items: center;
			flex-direction: row;
		}

		.mat-form-field {
			margin: 0 spacing(2) 0 0;
	
			@include breakpoint-down(lg) {
				&.store-filter {
					max-width: 320px;
				}
			}

			@include breakpoint-down(sm) {
				margin: 0 0 spacing(2);
	
				&.store-filter {
					max-width: 100%;
				}
			}
		}
	}

	.hc-table-filters {
		padding: 0 spacing(2) spacing(2);
		border-top: 1px solid map-get($hc-color-grey, light);

		.mat-form-field {
			display: inline-block;
			margin: spacing(2) spacing(2) 0 0;
		}

		mat-slide-toggle {
			margin-top: spacing(2);
		}

		mat-slide-toggle {
			height: map-get($hc-input, height);
			vertical-align: middle;
		}
	}

	.hc-table-item-action {
		cursor: pointer;
	}
	
	.mat-icon-button {
		opacity: 0.85;
		@include hc-transition(opacity, 250ms);
		
		&:hover {
			opacity: 1;
		}

		
		&.mat-icon-button-label {
			width: auto;
			span {
					color: map-get($hc-color-blue, 100);
			}
		}
	}

	.no-records {
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;	
	}
}