<!--
*-------------------------------------------------------------------
* Licensed Materials - Property of HCL Technologies
*
* HCL Commerce
*
* (C) Copyright HCL Technologies Limited 1996, 2020

*-------------------------------------------------------------------
-->

<form [formGroup]="codesForm" autocomplete="off">
	<div class="bx--row">
		<div class="bx--col-sm-4 bx--col-md-7 bx--col-lg-11 ">

			<div class="bx--row">
				<div class="bx--col-lg-6">

					<div class="hc-type-text">
						<p>{{'TAX_CATEGORIES.DEFINE_TAX_CODES'| translate}}</p>
					</div>

					<mat-form-field appearance="outline">
						<mat-label>{{'TAX_CATEGORIES.TAX_CODE'| translate}}</mat-label>
						<input matInput id="taxCode" #taxCodeSearchInput (input)="searchTaxCodes($event.target.value)"
								placeholder="{{'TAX_CATEGORIES.ADD_TAX_CODE'| translate}}"
								formControlName="taxCodeSearch" [matAutocomplete]="taxCodeAutocomplete">
						<mat-autocomplete #taxCodeAutocomplete="matAutocomplete" (optionSelected)="selectTaxCode($event.option.value)">
							<mat-option *ngFor="let taxCode of taxCodeSearchList" [value]="taxCode">
								{{taxCode.calculationCode}}
							</mat-option>
						</mat-autocomplete>
						<mat-icon matSuffix>filter_list</mat-icon>				
					</mat-form-field>

				</div>
				<div class="select-group-content bx--col-lg-5">
					<div class="hc-type-label">{{'TAX_CATEGORIES.SELECTED_TAX_CODES'| translate}}</div>
					<div class="hc-chip-list-section">
						<span *ngIf="taxCodes.length==0">{{'TAX_CATEGORIES.NO_DEFINED_TAX_CODES'| translate}}</span>
						<mat-chip-list #taxCodeList>
							<mat-chip *ngFor="let taxCode of taxCodes" [selectable]="false"
									[removable]="true" (removed)="removeTaxCode(taxCode)">
								{{taxCode.calculationCode}}
								<mat-icon matChipRemove>cancel</mat-icon>
							</mat-chip>
						</mat-chip-list>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="bx--row">
		<div class="bx--col-sm-4 bx--col-md-7 bx--col-lg-11">
			<div>
				<button class="mat-flat-button" type="button" matStepperPrevious *ngIf="mode === 'create'">{{'TAX_CATEGORIES.BACK'| translate}}</button>
				<button class="mat-flat-button mat-primary" type="button" (click)="next()" *ngIf="mode === 'create'">{{'TAX_CATEGORIES.NEXT' | translate}}</button>
				<button class="mat-flat-button mat-primary" type="button" (click)="triggerSave()" *ngIf="mode === 'edit'">{{'TAX_CATEGORIES.SAVE' | translate}}</button>
			</div>
		</div>
	</div>
</form>
