/*
 *-------------------------------------------------------------------
 * Licensed Materials - Property of HCL Technologies
 *
 * HCL Commerce
 *
 * (C) Copyright HCL Technologies Limited 1996, 2020

 *-------------------------------------------------------------------
 */

 .mat-column-parameters {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
    white-space: pre-wrap;
	max-width: 240px !important;
}